html,
body {
    background-color: #f7f7f7;
    margin: 40px;
}

.container {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template: repeat(9, 100px) / repeat(12, 1fr);
    grid-gap: 7px;
    grid-template-areas:
    "h h h h h h h h h h h h" 
    "a a a a b b b b b b b b"
    "a a a a b b b b b b b b" 
    "a a a a b b b b b b b b" 
    "c c c c d d d d e e e e" 
    "c c c c d d d d e e e e" 
    "c c c c f f f f f f f f" 
    "c c c c f f f f f f f f" 
    "g g g g g g g g g g g g"
}


/* Pic */

.box1 {
    width: 100%;
    height: 100%;
    grid-area: a;
}


/* About */

.box2 {
    grid-area: b;
}


/* Education */

.box3 {
    grid-area: c;
}


/* Projects */

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}


/* Design */

.box6 {
    grid-area: f;
}


/* Contact */

.box7 {
    grid-area: g;
}

.box8 {
    grid-area: h;
}


/* Hover Effects */

.box4,
.box5,
.box6 {
    opacity: 1;
    transition: .3s ease-in-out;
}

.box4:hover,
.box5:hover,
.box6:hover {
    opacity: .6;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container>div:nth-child(1n) {
    background-color: #96ceb4;
}

.container>div:nth-child(3n) {
    background-color: #88d8b0;
}

.container>div:nth-child(2n) {
    background-color: #ff6f69;
}

.container>div:nth-child(4n) {
    background-color: #ffcc5c;
}


/* Small screens like Smartphones */

@media (min-width: 120px) and (max-width: 650px) {
    .container {
        grid-template: 150px 250px 350px 350px 150px 150px 200px 150px / 1fr;
        grid-gap: 7px;
        grid-template-areas: "h" "a" "b" "c" "d" "e" "f" "g"
    }
}


/* Medium sized screens like tablets or netbooks */

@media (min-width: 651px) and (max-width: 1000px) {
    .container {
        grid-template: 100px 250px 300px 300px 100px / 1fr 1fr 1fr 1fr;
        grid-gap: 7px;
        grid-template-areas: 
        "h h h h"
        "a a c c"
        "b b b b"
        "f f d e"
        "g g g g"
    }
}


