* {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

header {grid-area: hd;}
nav {grid-area: nav;}
content {grid-area: cont;}
footer {grid-area: ft;}

.grid {
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    "hd"
    "nav"
    "cont"
    "ft"
}

.grid header, nav, content, footer{
    border-radius: 2px;
    background-color: rgba(0, 95, 107, 0.8);
    padding: 0.5em;
    color: #fff;
}

@media (min-width: 375px) {
    .grid {
        grid-template-areas:
        "hd hd hd"
        "nav cont cont"
        "ft ft ft"
    }
}